{{>layout/header}}
    <h1> Auth </h1>
    <div align="center">
        <div class=""col-md-12>
            <div class="row">
                <div class="col-md-6">
                    <a href="/manager_admin/main" role="button" class="btn btn-primary"> 리프레쉬토큰 매니져 접속</a>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}